In [1]:
# Import Dependencies
import pandas as pd

AAPL_df = pd.read_csv("JNJfinal.CSV")
AMZN_df = pd.read_csv("MRKfinal.CSV")
FB_df = pd.read_csv("PFEfinal.CSV")
GOOGL_df = pd.read_csv("NVSfinal.CSV")
MSFT_df = pd.read_csv("ROGfinal.CSV")

AAPL_df.head()

,Unnamed: 0,level_0,index,1. open,2. high,3. low,4. close,5. volume,Month,Day,Year,Company,daily change,Date to Num,Month to Num
0,0,6,2017-12-29,140.98,141.2074,139.58,139.72,4419945,December,Friday,2017,JNJ,-0.005976,5,12
1,1,7,2017-12-28,140.70,141.0000,140.33,140.56,2237834,December,Thursday,2017,JNJ,-0.000071,4,12
2,2,8,2017-12-27,140.42,141.1500,140.20,140.57,3645694,December,Wednesday,2017,JNJ,0.003426,3,12
3,3,9,2017-12-26,140.46,140.5400,139.68,140.09,3268365,December,Tuesday,2017,JNJ,-0.000214,2,12
4,4,10,2017-12-22,140.90,141.3500,140.04,140.12,4655340,December,Friday,2017,JNJ,-0.006664,5,12

In [2]:
Master_df = pd.concat([AAPL_df,AMZN_df,FB_df,GOOGL_df,MSFT_df], axis=0)

Change = []
counter = 0
while counter < len(Master_df["4. close"]):
    o = Master_df["1. open"][counter]
    c = Master_df["4. close"][counter]
    h = (o - c) / c
    Change.append(h)
    counter += 1
    
Change

KeyError: 1259

In [ ]:
Master_df.to_csv("Pharm_masterdata.csv", index=False, header=True)