In [2]:
# Dependencies
import pandas as pd
import json
import csv
import matplotlib.pyplot as plt
import numpy as np

In [10]:
file_name = "../Data/masterdata.csv"
master_df = pd.read_csv(file_name)
master_df.head()

,level_0,index,1. open,2. high,3. low,4. close,5. volume,Month,Day,Year,Company,daily change
0,4531,2018-01-05,173.44,175.37,173.05,175.00,23016177,January,Friday,2018,AAPL,0.011385
1,4530,2018-01-04,172.54,173.47,172.08,173.03,22211345,January,Thursday,2018,AAPL,0.004645
2,4529,2018-01-03,172.53,174.55,171.96,172.23,28819653,January,Wednesday,2018,AAPL,-0.000174
3,4528,2018-01-02,170.16,172.30,169.26,172.26,25048048,January,Tuesday,2018,AAPL,0.017905
4,4527,2017-12-29,170.52,170.59,169.22,169.23,25643711,December,Friday,2017,AAPL,-0.010814

In [23]:
# Delete years outside scope
above_df = master_df.loc[(master_df["Year"] >= 2014), :]
below_df = above_df.loc[(above_df["Year"] < 2018), :]
newmaster_df = below_df

In [25]:
# Make new CSV files with only needed data
newmaster_df.to_csv("newmasterdata.csv", index=False, header=True)

In [37]:
# Make a list of all unique companies
names = newmaster_df["Company"].unique()

# For loop to write out new CSVs
for Stock in names:
    new_df = newmaster_df.loc[(newmaster_df["Company"] == Stock), :]
    new_df.to_csv("new" + Stock + ".csv", index=False, header=True)