In [1]:
# Dependencies
import pandas as pd
import json
import csv
import matplotlib.pyplot as plt
import numpy as np

In [3]:
master_df = pd.read_csv("../BigBanks/bankdata.csv")
len(master_df)

6295

In [4]:
day_change = master_df.groupby(["Date to Num"])

MeanofChange = (day_change["daily change"].mean()) * 100
SumofVol = day_change["5. volume"].sum()

DayGrouped = pd.DataFrame({"Daily Change Average" : MeanofChange,
                       "Total Volume" : SumofVol})

DayGrouped["Daily Change Average"] = DayGrouped["Daily Change Average"].map("{:.4f}%".format)
DayGrouped.head()

            Daily Change Average  Total Volume
Date to Num
1                        0.0163%   34074026721
2                        0.1061%   39569452987
3                        0.1366%   43511294806
4                        0.0362%   41368386521
5                        0.0250%   40790737146

In [5]:
month_change = master_df.groupby(["Month to Num"])

mMeanofChange = (month_change["daily change"].mean()) * 100
mSumofVol = month_change["5. volume"].sum()

MonthGrouped = pd.DataFrame({"Monthly Change Average" : mMeanofChange,
                       "Total Volume" : mSumofVol})

MonthGrouped["Monthly Change Average"] = MonthGrouped["Monthly Change Average"].map("{:.4f}%".format)
MonthGrouped.head(12)

             Monthly Change Average  Total Volume
Month to Num
1                          -0.2102%   20989138906
2                           0.1098%   19396699437
3                           0.0769%   19557785518
4                           0.0490%   17372554044
5                           0.1063%   15346339305
6                           0.0246%   16484687792
7                           0.1423%   15198798474
8                          -0.0454%   14151885203
9                          -0.0064%   14834387913
10                          0.1545%   15993059539
11                          0.3024%   14739193675
12                          0.0794%   15249368375