In [2]:
# Dependencies
import pandas as pd
import json
import csv
import matplotlib.pyplot as plt
import numpy as np

In [3]:
file_name = "../../../Pharm_masterdata.csv"
master_df = pd.read_csv(file_name)
master_df.head()

,level_0,index,1. open,2. high,3. low,4. close,5. volume,Month,Day,Year,Company,daily change
0,4533,2018-01-09,142.37,145.68,142.260,144.14,8896882,January,Tuesday,2018,JNJ,0.015857
1,4532,2018-01-08,141.70,142.00,140.920,141.89,4980217,January,Monday,2018,JNJ,0.001270
2,4531,2018-01-05,140.69,141.82,140.281,141.71,5900718,January,Friday,2018,JNJ,0.008253
3,4530,2018-01-04,140.45,141.14,140.220,140.55,4777518,January,Thursday,2018,JNJ,-0.000071
4,4529,2018-01-03,139.36,140.68,138.900,140.56,5241755,January,Wednesday,2018,JNJ,0.009553

In [4]:
# Delete years outside scope
above_df = master_df.loc[(master_df["Year"] >= 2014), :]
below_df = above_df.loc[(above_df["Year"] < 2018), :]
newmaster_df = below_df

In [5]:
# Make new CSV files with only needed data
newmaster_df.to_csv("Pharma_newmasterdata.csv", index=False, header=True)

In [6]:
# Make a list of all unique companies
names = newmaster_df["Company"].unique()

# For loop to write out new CSVs
for Stock in names:
    new_df = newmaster_df.loc[(newmaster_df["Company"] == Stock), :]
    new_df.to_csv("new" + Stock + ".csv", index=False, header=True)